body {
    position: relative;
    overflow-x: hidden;
    background: url('shoreline.gif') no-repeat center center fixed;
    background-size: cover;
    background-color: #CFD8DC; /* Fallback color if the GIF is not available or fully loaded */
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}
#map {
    height: 100vh;
    width: 100vh+10000;
    margin-top: 50px; /* Adjust as needed */
    margin-bottom: 50px; /* Adjust as needed */
    margin-left: 150px; /* Adjust as needed */
    border: 3px solid #000; /* Add a 3px width solid border with a black color */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add a shadow with x-offset, y-offset, blur radius, and color */
  }
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
.hidden {
  display: none;
}
#top-div {
    height: 4.2vw;
    width: 95%;
    left:5vw;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 3;
    
    justify-content: center;
    /* Add a gradient background */
    background: linear-gradient(to top, #000222, #002088c4);
    overflow: hidden;
    border-radius:.5vw;
    margin-left: 70px;
  }
  .running-text-box {
    background: linear-gradient(to top, #000222, #002088c4);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 0.5vw;
    overflow: hidden;
    border: 2px solid #fff; /* Add border style */
    margin-left: 100px;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.running-text-box h {
    margin: 0;
}

.running-text-box p {
    margin: 10px 0;
}

.running-text-box h, .running-text-box p {
    white-space: nowrap;
    animation: scrollText 40s linear infinite;
}
.infoplastic {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.infoplastic h4 {
  margin: 0 0 5px;
  color: #777;
}

.infomissmanaged {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.infomissmanaged h4 {
  margin: 0 0 5px;
  color: #777;
}

.infomissmanaged1 {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.infomissmanaged1 h4 {
  margin: 0 0 5px;
  color: #777;
}

.infopropability {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.infopropability h4 {
  margin: 0 0 5px;
  color: #777;
}

.legendplastic {
  line-height: 18px;
  color: #555;
}

.legendplastic i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legendmissmanaged {
  line-height: 18px;
  color: #555;
}

.legendmissmanaged i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legendmissmanaged1 {
  line-height: 18px;
  color: #555;
}

.legendmissmanaged1 i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legendpropability {
  line-height: 18px;
  color: #555;
}

.legendpropability i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.savi15raster {
  line-height: 18px;
  background-color: #e6dede; /* Optional: Add a background color */
}


.savi15raster i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Optional: Add hover effect to highlight legend items */
/* Optional: Customize legend item labels */
.savi15raster span {
  font-size: 14px;
  margin-right: 5px; /* Adjust spacing between color square and label */
}
.SalinityIndex21rasterraster {
  line-height: 18px;
  background-color: #e6dede; /* Optional: Add a background color */
}


.SalinityIndex21rasterraster i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Optional: Add hover effect to highlight legend items */
/* Optional: Customize legend item labels */
.SalinityIndex21rasterraster span {
  font-size: 14px;
  margin-right: 5px; /* Adjust spacing between color square and label */
}

.SalinityIndex20rasterraster {
  line-height: 18px;
  background-color: #e6dede; /* Optional: Add a background color */
}


.SalinityIndex20rasterraster i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Optional: Add hover effect to highlight legend items */
/* Optional: Customize legend item labels */
.SalinityIndex20rasterraster span {
  font-size: 14px;
  margin-right: 5px; /* Adjust spacing between color square and label */
}
.savi23raster {
  line-height: 18px;
  color: #555;
  font-family: Arial, sans-serif; /* Adjust font family as needed */
  background-color: #e6dede; /* Optional: Add a background color */
  padding: 10px; /* Optional: Add padding for better aesthetics */
  border: 1px solid #ccc; /* Optional: Add a border for better separation */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}


.savi23raster i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Optional: Add hover effect to highlight legend items */
/* Optional: Customize legend item labels */
.savi23raster span {
  font-size: 14px;
  margin-right: 5px; /* Adjust spacing between color square and label */
}

.reflectance15raster {
  line-height: 18px;
  color: #555;
  font-family: Arial, sans-serif; /* Adjust font family as needed */
  background-color: #e6dede; /* Optional: Add a background color */
  padding: 10px; /* Optional: Add padding for better aesthetics */
  border: 1px solid #ccc; /* Optional: Add a border for better separation */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}


.reflectance15raster i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Optional: Add hover effect to highlight legend items */
/* Optional: Customize legend item labels */
.reflectance15raster span {
  font-size: 14px;
  margin-right: 5px; /* Adjust spacing between color square and label */
}

.reflectance23raster {
  line-height: 18px;
  color: #555;
  font-family: Arial, sans-serif; /* Adjust font family as needed */
  background-color: #e6dede; /* Optional: Add a background color */
  padding: 10px; /* Optional: Add padding for better aesthetics */
  border: 1px solid #ccc; /* Optional: Add a border for better separation */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}


.reflectance23raster i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Optional: Add hover effect to highlight legend items */
/* Optional: Customize legend item labels */
.reflectance23raster span {
  font-size: 14px;
  margin-right: 5px; /* Adjust spacing between color square and label */
}
.globalsealevelriseanomaly h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.coastalfloodprojection100 h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.TropicalCyclonesMortalityRisk h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.TropicalCyclone50yearPeriodReturn h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.TropicalCyclonePopulationexposureperyear h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.PlasticLitterDensity h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.TsunamiExposurepoppersqkm h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.TsunamiFrequency h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.Tsunamihazardprojection h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.SeaSurfaceTemperaturemonthlyday h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.Seasurfacetemperatureanomalies h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.Mangrovecoverindus h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.SalinityIndex21rasterraster h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.SalinityIndex20rasterraster h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
.gibssalinityMonthly h4 {
  color: black;
  font-weight: bold;
  background-color: white;
}
/* Add this CSS to style the custom control */
.custom-control {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  padding: 5px;
}

.custom-control:hover {
  background-color: #f8f8f8;
}
  #hello-text {
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    z-index: 3000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.726);
    /* Text shadow effect */
  }
  
  #ndma-logo {
    height: auto;
    width: auto;
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 5px;
    height: 100%;
  }
  
  #ndma-logo img {
    height: 3.5vw;
    width: auto;
    z-index: 3000;
    /* Maintain aspect ratio */
  }
  #nav-title img {
      height: 30px; /* Set the height of your logo image */
      margin-right: 10px; /* Adjust the margin as needed */
  }
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
  padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(5n+1):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(5n+2):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(5n+3):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5n+4):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(5n+5):before {
    background-color: #7d5d81;   
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-header {
    text-align: center;
    font-size: 16px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.sidebar-brand {
    height: 65px;
    position: relative;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
   padding-top: 1em;
}
.sidebar-brand a {
    color: #ddd;
}
.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 15px 15px 15px 30px;  /* Adjusted padding */
    margin-bottom: 25px;  /* Added margin to create space between items */
}
/*Fontawesome icons*/
.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    content: "\f12e";
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}
a[href*="#home"]::before {
  content: "\f015" !important;
}
a[href*="#about"]::before {
  content: "\f129" !important;
}
a[href*="#events"]::before {
  content: "\f073" !important;
}
a[href*="#events"]::before {
  content: "\f073" !important;
}
a[href*="#team"]::before {
  content: "\f0c0" !important;
}
a[href*="#works"]::before {
  content: "\f0b1" !important;
}
a[href*="#pictures"]::before {
  content: "\f03e" !important;
}
a[href*="#videos"]::before {
  content: "\f03d" !important;
}
a[href*="#books"]::before {
  content: "\f02d" !important;
}
a[href*="#art"]::before {
  content: "\f1fc" !important;
}
a[href*="#awards"]::before {
  content: "\f02e" !important;
}
a[href*="#services"]::before {
  content: "\f013" !important;
}
a[href*="#contact"]::before {
  content: "\f086" !important;
}
a[href*="#followme"]::before {
  content: "\f099" !important;
  color: #0084b4;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 80px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -960px;
    margin-left: -15px;
}
